__pycache__/
*.pyc
*.pyo
.cache/

classification/data/
classification/classification_EU_RL/output/
classification/classification_EU_RL/pretrained_models/
classification/classification_EU_RL/save_models/

SD_style+instance_unlearn/EUPMU_style+instance_unlearn/generated_images/

*.zip

wandb/

*.pdf
*.png
*.tex
.vscode/

SD_Class-wise_unlearn_NSFW_unlearn/EUPMU/run_table1_sd.sh
SD_Class-wise_unlearn_NSFW_unlearn/EUPMU/src/

hf-cache/
*.codex
*models/

classification/classification_EU_RL/output_*/
classification/classification_EU_RL/datasets/
classification/classification_EU_RL/logs_*/